language: ruby
rvm:
- "2.0"
- "2.1"
- "2.2"
- "2.3.1"
- ruby-head
- jruby-head
sudo: false
cache: bundler
before_install: gem install bundler -v 1.10.3
matrix:
  allow_failures:
  - rvm: ruby-head
  - rvm: jruby-head
  fast_finish: true
